kestra/flows/02_ingest_linkedIn_2024.yml
id: 02_ingest_linkedin_2024
namespace: capstone
description: Downloads 124K LinkedIn job postings from Kaggle, uploads to GCS, loads a flat raw BigQuery table (no partition/cluster — optimization lives in dbt mart models). Flow trigger on 03 chains automatically after SUCCESS.

variables:
  dataset_slug: "arshkon/linkedin-job-postings"
  gcs_prefix: "gs://{{kv('GCP_BUCKET_NAME')}}/raw/linkedin_2023_2024/"

tasks:
  # WorkingDirectory shares filesystem between download and upload tasks
  - id: ingest
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:
      # STEP 1: Download postings.csv from Kaggle using -f flag (single file, ~500MB)
      - id: download_postings
        type: io.kestra.plugin.scripts.shell.Commands
        containerImage: python:3.12-slim
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        outputFiles:
          - "*.csv"
        commands:
          - export KAGGLE_API_TOKEN="{{secret('KAGGLE_API_TOKEN')}}"
          - test -n "$KAGGLE_API_TOKEN" || { echo "ERROR KAGGLE_API_TOKEN is empty"; exit 1; }
          - pip install kaggle --upgrade --no-cache-dir -q --root-user-action=ignore
          - kaggle datasets download {{vars.dataset_slug}} -p . --unzip
          - test -f postings.csv || { echo "postings.csv missing after unzip; ls:"; ls -la; exit 1; }
          - ls -lh postings.csv
        retry:
          type: exponential
          maxAttempts: 3
          interval: PT30S
          maxInterval: PT5M

      # STEP 2: Upload postings.csv to GCS data lake
      - id: upload_postings
        type: io.kestra.plugin.gcp.gcs.Upload
        from: "{{outputs.download_postings.outputFiles['postings.csv']}}"
        to: "{{render(vars.gcs_prefix)}}postings.csv"
        retry:
          type: exponential
          maxAttempts: 3
          interval: PT10S
          maxInterval: PT5M

  # STEP 3: Create external table pointing at GCS
  - id: create_external_table
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE OR REPLACE EXTERNAL TABLE
        `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.linkedin_job_postings_ext`
      OPTIONS (
        format = 'CSV',
        uris = ['{{render(vars.gcs_prefix)}}postings.csv'],
        skip_leading_rows = 1,
        ignore_unknown_values = TRUE,
        allow_quoted_newlines = TRUE,
        allow_jagged_rows = TRUE
      );

  # STEP 4: Load raw table — flat copy, no partition or cluster.
  # Partitioning and clustering belong in dbt mart models where
  # query patterns are known. Raw layer stays simple and fast to write.
  - id: load_raw_table
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE OR REPLACE TABLE
        `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.raw_linkedin_job_postings`
      AS SELECT * FROM
        `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.linkedin_job_postings_ext`;

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles

# Annual schedule — Jan 1 at 6am PT. Dataset refreshes roughly yearly.
# Flow trigger on 03 chains automatically after this succeeds.
triggers:
  - id: annual_ingest
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 6 1 1 *"
    timezone: America/Los_Angeles

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{secret('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"